﻿@model IEnumerable<Student>

<br />
<br />
<div class="border p-4 bg-white">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info"> Student List </h2>
        </div>

        <div class="col-3 text-right">
            <a asp-action="InsertUpdate" class="btn btn-info form-control"> Create New </a>
        </div>
    </div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Student Name
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a class="btn btn-primary text-white" asp-action="InsertUpdate" asp-route-Id="@item.Id">
                                Edit
                            </a>

                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@item.Id">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Student exists...</p>
        }
    </div>
</div>
